.wrapper {
  height: 100%;
  &.codeBlocksActive {
    .responseWrapper {
      margin-left: -700px;
    }

    .codeBlocksWrapper {
    }
  }

  pre {
    color: #fff;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    white-space: pre-wrap;
    border: 1px solid #3E3E38;
    background-color: #343432;
  }
}

.responseWrapper {
  bottom: 0;
  left: 50%;
  width: 700px;
  height: 100%;
  position: fixed;
  margin-left: -350px;

  .response {
    height: 100%;
    padding: 30px;
    overflow-y: auto;
    padding-bottom: 150px;
  }
}

.codeBlocksWrapper {
  bottom: 0;
  left: 50%;
  width: 700px;
  height: 100%;
  padding: 30px;
  overflow: auto;
  position: fixed;

  .tabHeader {
    gap: 5px;
    height: 50px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    background-color: #393937;
    border: 1px solid #3E3E38;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .tabItem {
      color: #fff;
      height: 30px;
      border: none;
      cursor: pointer;
      padding: 0 10px;
      font-size: 13px;
      font-weight: bold;
      border-radius: 10px;
      background-color: #2F2F2C;
      text-transform: uppercase;
      &.active {
        background-color: #21201C;
      }
    }
  }

  .tabContent {
    .tabItem {
      display: none;
      margin: 0 !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      &.active {
        display: block;
      }
    }
  }
}

.form {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px 20px;
  position: absolute;

  .input {
    color: #fff;
    width: 100%;
    border: none;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    background-color: #393937;
    &:focus {
      background-color: #444;
    }
  }
}
