body {
  margin: 0;
  background-color: #2D2C29;
}

html, body, #__next {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, input, textarea, button, select {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
