.promptAndResponseWrapper {
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  position: fixed;
  margin-left: -25%;
  &.codeBlocksActive {
    margin-left: -50%;
  }

  .response {
    gap: 20px;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding: 20px 10px 150px 20px;

    .message {
      color: #fff;
      padding: 20px;
      font-size: 16px;
      border-radius: 10px;
      white-space: pre-wrap;
      border: 1px solid #3E3E38;
      background-color: #343432;
    }
  }

  .form {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 20px 10px 20px 20px;

    .input {
      color: #fff;
      width: 100%;
      border: none;
      resize: none;
      min-height: 78px;
      overflow: hidden;
      padding: 15px 20px;
      border-radius: 10px;
      border: 1px solid #3E3E38;
      background-color: #393937;
      &:focus {
        background-color: #444;
      }
    }
  }
}
